<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245796405079-nd36488ap5smmsphsqsi2r13pu826ud6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245796405079-nd36488ap5smmsphsqsi2r13pu826ud6</string>
	<key>API_KEY</key>
	<string>AIzaSyDb2JcDwpjQL2T9y2zW6pRRJJsIX-pGNbA</string>
	<key>GCM_SENDER_ID</key>
	<string>245796405079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damonique.MathFacts</string>
	<key>PROJECT_ID</key>
	<string>mathfactsapp-7caaf</string>
	<key>STORAGE_BUCKET</key>
	<string>mathfactsapp-7caaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245796405079:ios:cef9569d885a6f3ddf8812</string>
	<key>DATABASE_URL</key>
	<string>https://mathfactsapp-7caaf.firebaseio.com</string>
</dict>
</plist>